@import "./utils/variables";
@import "./utils/function";
@import "./utils/mixins";
@import "./utils/animation";

@import "./base/typography";

//@import "./components/buttons";
@import "./components/footer";
@import "./components/header";
@import "./components/gallery";

@import "./pages/home";
@import "./pages/restaurant";
