#container__footer {
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*height: 196px;*/

  background-color: #353535;
}

.footer a {
  text-decoration: none;
  color: $white-color;
  margin-left: 25px;
}
footer {
  position: relative;
  background-color: #353535;
  height: 196px;
  top: -50px;
  @media screen and (max-width: 767px) {
    top: -60px;
  }
  /*margin: auto;*/
  color: $white-color;
  width: 100%;

  /*max-width: 1199px;*/
  /*padding: 15px;*/
  line-height: 1.7rem;
  .name__web {
    font-family: "shrikhand";
    font-weight: 400;
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 15px;
    margin-left: 25px;
    padding-top: 20px;
  }
}
