// .header {
//   background: $white-color;
//   height: 5rem;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   &__logo {
//     width: 100%;
//     height: 100%;
//     background-position: center;

//     background-repeat: no-repeat;
//     @media screen and (max-width: 767px) {
//       background-image: url("./../images/logo/ohmyfood@2x.svg");
//     }
//     @media screen and (min-width: 767px) {
//       background-image: url("./../images/logo/ohmyfood.png");
//     }
//   }
// }

.header {
  height: 4.2rem;
  width: 100%;
  position: relative;
  &__arrow {
    position: absolute;
    left: 1.25rem;
    top: 35%;
  }

  &__logo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 767.999px) {
      background-image: url("./../images/logo/ohmyfood@2x.svg");
    }
    @media screen and (min-width: 768px) {
      background-image: url("./../images/logo/ohmyfood.png");
    }
  }
}
