.header__position {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  &--search {
    border: none;
    background-color: #eaeaea;
    margin-left: 15px;
    font-size: 1.3rem;
    width: 177px;
  }
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $background-color;
  &__titre {
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 1.5rem;
  }
  &__bouton {
    @include btn;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    .info {
      &__titre {
        width: 255px;
        margin: auto;
      }
    }
  }
}

.fonctionnement {
  padding: 15px;
  max-width: 1199px;
  margin: auto;
  p {
    font-weight: bold;
  }
  &__bouton {
    @media screen and (min-width: 1081px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &--info {
      @include fonctionnement__bouton--info;

      @media screen and (max-width: 1080px) {
        margin-bottom: 15px;
      }
      @media screen and (min-width: 1081px) {
        width: 325px;
      }
    }
  }
}

//@include gallery();
#nosrestaurant {
  width: 100%;
  background-color: $background-color;
  padding-bottom: 50px;
}
.nosrestaurant {
  max-width: 1199px;
  margin: auto;
  padding: 15px;
}

@media only screen and (max-width: 767px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .responsive {
    display: flex;
    flex-direction: row;
    &--1,
    &--2 {
      width: 49%;
      margin: 6px;
    }
  }
}
