//--------------------loader-------------------------

// $prog-bar-dur: 1000ms;
// $prog-bar-delay: 150ms;
// $cat-delay: ($prog-bar-dur + $prog-bar-delay) * 3.5;

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  animation: loader;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 999999;
}
.lettre {
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s both;
  animation-iteration-count: 4; //infinite;
}
@keyframes flash {
  0% {
    color: $primary-color;
  }
  25% {
    color: $secondary-color;
    text-shadow: none;
  }
  50% {
    color: $tertiary-color;
    text-shadow: none;
  }
  75% {
    color: $secondary-color;
    text-shadow: none;
  }

  100% {
    color: $primary-color;
    transform: translateY(20px) rotate(10deg);
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

//----------------animation manu -----------------------------

.btn {
  &--1 {
    animation: menu_anim 300ms cubic-bezier(0.76, 0.39, 0.08, 0.61);
    transform-origin: top;
    animation-delay: 3s;
  }
  &--2 {
    animation: menu_anim 300ms cubic-bezier(0.76, 0.39, 0.08, 0.61);
    transform-origin: top;
    animation-delay: 3.05s;
  }
  &--3 {
    animation: menu_anim 700ms cubic-bezier(0.76, 0.39, 0.08, 0.61);
    transform-origin: top;
    animation-delay: 3.1s;
  }
}

@keyframes menu_anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

//--------------FIN animation menu -------------------
