$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$gray-color: gray;
$white-color: #fff;
$border-radius: 15px;
$background-color: #f6f6f6;

$shadow-size: 2px;
$shadow-blur: 5px;
